.box {
  height: 40px;
  width: 40px;
  border: 2px solid;
  margin-bottom: 8px;
}

.green {
  background: green;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.black {
  background: black;
}
